.stats-page {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.stats-section {
  display: flex;
  flex-direction: row;
  margin-top: 10vh;
  justify-content: space-evenly;
}

.help-btn {
  align-self: flex-end;
  display: flex;
  justify-content: center;
  padding: 8px 20px;
  background-color: #1565c0;
  color: #fff;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  transition: background 0.2s;
  width: 70px;
  margin: 15px;

  &:hover {
    background-color: #0056b3;
  }
}