<mat-paginator
  [length]="taskResource.value()?.totalCount"
  [pageSize]="PAGE_SIZE"
  (page)="handlePageEvent($event)"
  [hidePageSize]="true"
  [showFirstLastButtons]="true"
/>

@if (taskResource.error()) {
  <p>Failed to retrieve tasks. Please try again.</p>
  <p>{{ taskResource.error()?.message }}</p>
  <button (click)="taskResource.refresh()">Refresh</button>
}

@if (taskResource.isLoading()) {
  <div class="shade">
    <mat-spinner />
  </div>
}

<section class="task-list">
  @if (showCreate()) {
    <app-new-task-card (saveHandler)="taskCreated()" (cancelHandler)="showCreate.set(false)"></app-new-task-card>
  }
  @for (task of taskResource.value()?.data; track task.id) {
    <app-task-card [initialTaskValue]="task"></app-task-card>
  }
</section>

<button mat-fab [disabled]="showCreate()" (click)="showCreate.set(true)" aria-label="Create task button">
  <mat-icon>add</mat-icon>
</button>
