.status-menu {
  border: solid 2px black;
  border-radius: 20px;
  aspect-ratio: 1;
  min-width: 20px;
  margin: 0;
  cursor: pointer;
  &.Incomplete {
    background-color: red;
  }
  &.InProgress {
    background-color: yellow;
  }
  &.Complete {
    background-color: green;
  }
}