.task-card{
  padding: 5px;
  width: var(--card-width);
  min-height: 225px;
  overflow: hidden;

  .button-footer{
    gap: 10px;
    margin-top: auto;
  }

  .task-header{
    justify-content: space-between;
  }

  .mat-mdc-card-header-text{
    width: 100%;
  }

  .edit-field{
    width: 100%;
  
    .description-text-area{
      min-height: 75px;
    }
  
  }
  
  .button-row{
    display: flex;
    gap: 10px;
  }

  .error-message{
    color: red;
  }

  .completed-date {
    position: absolute;
    padding-top: 5px;
  }
}
